.bb line,
.bb path {
    stroke: #ddd;
}

.bb-axis .tick {
    fill: #666;
}

.cy-spacer {
    flex: 1;
}

.cy-tile {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cy-trends {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;

    &__config {
        border-right: 1px solid #e7e7e7;
        position: relative;
    }

    &__config-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        width: 250px;

        h3 {
            margin: 0;
            background: #f7f7f7;
            color: #666;
            padding: 0.75em 1em;
            font-size: 20px;
            border-bottom: 1px solid #e7e7e7;
        }
    }

    hr {
        border-bottom: none;
        border-top: 1px solid #e1e1e1;
    }

    &__config-menu-item {
        padding: 1em 1.5em;
        cursor: pointer;

        &:hover {
            background: #fafafa;
        }
    }

    &__chart-container {
        position: relative;
        flex: 1;
        height: 100%;
        width: 100%;
        min-width: 300px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    &__chart {
        position: relative;
        width: 100%;
        height: 100%;
        flex: 1;
    }

    &__chart-header {
        display: flex;
        align-items: center;
        padding: 0 1em;
        height: 54px;
        border-bottom: 1px solid #e7e7e7;
    }

    &__chart-header-text {
        font-size: 20px;
        color: #666;
    }

    &__legend-wrapper {
        border-left: 1px solid #e7e7e7;
        position: relative;
        display: flex;
    }

    &__legend-toggle {
        position: relative;
        width: 17px;
        border-right: 1px solid #e7e7e7;
        background: #f9f9f9;
        cursor: pointer;
    }
}

.cy-legend {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
    transition: width 0.1s;

    &.collapsed {
        padding: 0;
        width: 0;

        > * {
            display: none;
        }
    }

    &__item {
        padding: 0.5em;
    }
}
